body {
	font-family: "Lato", sans-serif;


}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif;
	font-weight: bolder;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }

main {
	margin: 5em 0em;
	flex: 1 0 auto;
}

footer {
	padding: 2em;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
